<h1> New owner form </h1>

<%= render "form" %>

<%#= form_for @owner do |f| %>
<%#= f.label "Write your name" %>
<%#= f.text_field :name %>

<%#= f.label :age %>
<%#= f.number_field :age %>

<%#= f.submit "Add an owner" %>
<%#= f.submit %>


<%# end %>
